@import "tailwindcss";
.row-header{
    @apply bg-gradient-to-r from-indigo-500 to-purple-600 text-white font-semibold p-3 text-sm text-center flex items-center flex-col justify-center rounded-lg shadow-md;
}