/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */s

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.timesheet-container {
  display: grid;
  grid-template-columns: 150px repeat(7, 1fr); /* Row header + 7 day columns */
  gap: 5px;
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
}

.row-header {
  background: #4a90e2;
  color: white;
  padding: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

}
.prev-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.button {
  background: orange;
  color: white;
}

.day-cell,
.hours-cell,.date-cell {
  background: white;
  color: black;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}